.navbar {
  /* padding: 1%; */
  /* border: 2px solid black;
  border-radius: 20px; */
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: left;
}
.navbarelements {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 4px;
  padding: 8px;
  border: 1px solid black;
  cursor: pointer;
}
.navbarImage {
  object-fit: contain;
  width: 32px;
  height: 32px;
}
.navbarLabel {
  font-size: 5vh;
}

@media (max-width: 600px){
  .navbar {
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .navbarelements {
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
  .navbarImage {
    object-fit: contain;
    width: clamp(1vw, 6vw, 10vw);   
    height: clamp(1vh, 6vh, 10vh);
  }
  .navbarLabel {
    font-size: clamp(0.5vw, 3vw, 6vw)
  }
}