.postcontainer{
    justify-content: top-center;
    display : flex;
    width : 100%;
    flex : 1;
}
.postLimited{
    border : 1px solid black;
    margin-left: 5vh;
    margin-top: 5vh;
    margin-right: 5vh;
    justify-content: space-between;
    display: flex;
}
.postlist {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postDetailed {
    margin: 5vh;
    display: flex;
    flex-direction: column;
    width: calc(100% - 10vh);
    align-items: left;
}
.postDetailedHeader {
    flex-direction: column;
    align-self: center;
    border: 2px solid black;
}
.postDetailedBody {
    border: 1px solid black;
    margin-top: 10px;
    padding: 20px;
}
.addCommentButton {
    margin-top: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.commentIcon {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 5vh;
}
.postDetailedComment {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    border : 1px solid black;
}
.postDetailedTOC {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    border : 1px solid black;
}

.search-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.dropdown {
    padding: 5px;
    border-radius: 5px;
}

input {
    padding: 8px;
    flex-grow: 0.5;
}

button {
    padding: 8px 16px;
}