*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  /*Uncomment display to make header fitted to content section - Sirawit */
  /* display : flex;  */
  min-height: 100vh;
  width: 100%;
}